.wording{
    background-color:tan;
    display: flex;
    width: 30%;
    border: solid 5px red;
    flex-direction: column;
    border-radius: 10px;

}

img{
    width: 100%;
    padding: 25px;
}



.grooming-image{
    background-color: tan;
    padding: 10px;

}

.mountain-dog{
    background-color: tan;
}