.wording{
    background-color: brown;
}
img{
    width: 100%;

}



.grooming-image{
    background-color: red;
    padding: 20px;
    border-radius: 25px;
    width: 60%;
    margin-top: 60px;
    
}