.wording{
    background-color:tan;
    display: block;
    width: 100%;
    margin-top: 20px;

}

img{
    width: 100%;
    padding: 25px;
}



.grooming-image{
    background-color: tan;
    padding: 10px;

}

.mountain-dog{
    background-color: tan;
}